{% trans_default_domain 'app' %}

<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}KDE Documentation {% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('build/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('build/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('build/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('build/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('build/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('build/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('build/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('build/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('build/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('build/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="msapplication-TileColor" content="#1d99f3">
    <meta name="msapplication-TileImage" content="{{ asset('build/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#1d99f3">
    <noscript>
<style>
.script {
    display: none;
}
</style>
    </noscript>
</head>
<body>
<header class="header clearfix">
    <nav id="kHeaderNav" class="navbar navbar-expand-sm container-fluid">
        <a class="navbar-brand navbar-brand-active" href="{{ path('index') }}" id="KDEGlobalLogo">
            <img src="{{ asset('build/icon-kde.svg') }}" width="40px" height="40px" alt="">
            {% trans %}KDE Documentation{% endtrans %}
        </a>
        <button class="navbar-toggler script" type="button" data-toggle="collapse"
                data-target="#kMainNavbar" aria-controls="kMainNavbar"
                aria-expanded="false" aria-label="{% trans %}Toggle navigation{% endtrans %}">
                <span class="navbar-toggler-icon"></span>
        </button>
        <noscript>
            <a class="navbar-toggler" href="{{ path('menu') }}">
                <span class="navbar-toggler-icon"></span>
            </a>
        </noscript>
        <div class="collapse navbar-collapse" id="kMainNavbar">
            <div class="navbar-nav" id="autocomplete-data" data-autocomplete='{{ all_application_names }}'>
                <a class="nav-item nav-link"
                   href="https://www.kde.org/documentation">{% trans %}Help{% endtrans %}</a>
                <a class="nav-item nav-link"
                   href="https://www.kde.org/contact/">{% trans %}Contact Us{% endtrans %}</a>
                <a class="nav-item nav-link"
                   href="https://www.kde.org/donate">{% trans %}Donate{% endtrans %}</a>
                <noscript>
                    <a class="nav-item nav-link" href="{{ path('menu') }}">
                      {% trans %}language{% endtrans %}
                    </a>
                </noscript>
                <div class="nav-item dropdown script">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ asset('build/icons/amarok_change_language.svg') }}" height="22" alt="Languages droptdown" />
                        {% trans %}language{% endtrans %}
                    </a>
                    <div id="languages-dropdown" class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="navbarDropdownMenuLink">
                        <div class="container container-sm">
                            {{ render(controller(
                                'App\\Controller\\MainController::languageListDropdown'
                            )) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container mt-2" aria-label="Content">
    {# APPLICATIONS SEARCH #}
    {{ form_start(search_form, {'attr': {'class': 'form-row', 'novalidate': 'novalidate'}}) }}
    <div class="col-11">
        {{ form_widget(search_form.search_term, {'attr': {'aria-label': 'Search', 'placeholder': 'Search...', 'class': 'form-control mb-2', 'value': search_term is defined ? search_term : '', 'id': 'autocomplete'}} ) }}
    </div>
    <div class="col-1">
        <button class="btn btn-outline-info mb-2 col-md-12" type="submit">
            <img src="{{ asset('build/icons/edit-find.svg') }}" height="22" alt="Search" />
        </button>
    </div>
    {{ form_end(search_form) }}

    {# MAIN CONTENT #}
    {% block body %}{% endblock %}

    {# OMEGA SEARCH #}
    <h2>Advanced search</h2>
    <form action='/docsearch/omega' class="mb-4" method='GET'>
        <fieldset class="form-group">
            <label for="advanced_search_language">Language</label>
            <select name="B" class="form-control" id="advanced_search_language">
                {% for language in languages %}
                    {% if language != lang %}
                        <option value="L{{ language }}">{{ language }}</option>
                    {% else %}
                        <option value="L{{ language }}" selected='selected'>{{ language }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="advanced_search_branch">Documentation branch</label>
            <select name='B' id="advanced_search_branch" class="form-control">
                <option value="XBRANCHGENERICtrunk">Development</option>
                <option value="XBRANCHGENERICstable">Stable</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="advanced_search_match">Match</label>
            <select name='DEFAULTOP' id="advanced_search_match" class="form-control">
                <option value='and' checked>All words</option>
                <option value='or'>Any word</option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="advanced_search_word">Words</label>
            <input type='search' name='P' value='' id="advanced_search_word" class="form-control"/>
        </fieldset>
        <button type='submit' class="btn btn-primary">Search...</button>
        <input type='hidden' aria-hidden="true" name='DEFAULTOP' value='and'/>
        <input type='hidden' aria-hidden="true" name='xFILTERS' value='--O'/>
    </form>
</main>
<footer id="kFooter" class="footer">
    <section id="KSiteDonateForm">
        <h3>{% trans %}Donate to KDE{% endtrans %}
            <a href="https://www.kde.org/community/donations/index.php#money"
               target="_blank">{% trans %}Why donate?{% endtrans %}</a>
        </h3>

        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post"
              onsubmit="return amount.value >= 2 || window.confirm({% trans %}'Your donation is smaller than 2€. This means that most of your donation\nwill end up in processing fees. Do you want to continue?{% endtrans %}');">
            <input type="hidden" name="cmd" value="_donations"/>
            <input type="hidden" name="lc" value="GB"/>
            <input type="hidden" name="item_name" value="Development and communication of KDE software"/>
            <input type="hidden" name="custom" value="//neon.kde.org//neon_donation_footer_index.php"/>
            <input type="hidden" name="currency_code" value="EUR"/>
            <input type="hidden" name="cbt" value="Return to www.kde.org"/>
            <input type="hidden" name="return" value="https://www.kde.org/community/donations/thanks_paypal.php"/>
            <input type="hidden" name="notify_url" value="https://www.kde.org/community/donations/notify.php"/>
            <input type="hidden" name="business" value="kde-ev-paypal@kde.org"/>
            <input type='text' name="amount" value="10.00" id="donateAmountField"/> €
            <button type='submit' id="donateSubmit">{% trans %}Donate via PayPal{% endtrans %}</button>
        </form>

        <a href="https://www.kde.org/community/donations/others.php" id="otherWaysDonate"
           target="_blank">{% trans %}Other ways to donate{% endtrans %}</a>
    </section>

    <section id="kLinks" class="container">
        <div class="row">
            <nav class="col-sm">
                <h3>{% trans %}Products{% endtrans %}</h3>
                <a href="https://www.kde.org/plasma-desktop">{% trans %}Plasma{% endtrans %}</a>
                <a href="https://www.kde.org/applications/">{% trans %}KDE Applications{% endtrans %}</a>
                <a href="https://plasma-mobile.org/overview/">{% trans %}Plasma Mobile{% endtrans %}</a>
                <a href="https://neon.kde.org/">{% trans %}KDE neon{% endtrans %}</a>
                <a href="https://wikitolearn.org/" target="_blank">{% trans %}WikiToLearn{% endtrans %}</a>
            </nav>

            <nav class="col-sm">
                <h3>{% trans %}Develop{% endtrans %}</h3>
                <a href="https://techbase.kde.org/">{% trans %}TechBase Wiki{% endtrans %}</a>
                <a href="https://api.kde.org/">{% trans %}Api Documentation{% endtrans %}</a>
                <a href="https://doc.qt.io/" target="_blank">{% trans %}Qt Documentation{% endtrans %}</a>
                <a href="https://inqlude.org/" target="_blank">{% trans %}Inqlude Documentation{% endtrans %}</a>
            </nav>

            <nav class="col-sm">
                <h3>{% trans %}News & Press{% endtrans %}</h3>
                <a href="https://www.kde.org/announcements/">{% trans %}Announcements{% endtrans %}</a>
                <a href="https://dot.kde.org/">{% trans %}Kde.news{% endtrans %}</a>
                <a href="https://planetkde.org/">{% trans %}Planet KDE{% endtrans %}</a>
                <a href="https://www.kde.org/screenshots">{% trans %}Screenshots{% endtrans %}</a>
                <a href="https://www.kde.org/contact/">{% trans %}Press Contact{% endtrans %}</a>
            </nav>

            <nav class="col-sm">
                <h3>{% trans %}Resources{% endtrans %}</h3>
                <a href="https://community.kde.org/Main_Page">{% trans %}Community Wiki{% endtrans %}</a>
                <a href="https://userbase.kde.org/">{% trans %}UserBase Wiki{% endtrans %}</a>
                <a href="https://www.kde.org/stuff/">{% trans %}Miscellaneous Stuff{% endtrans %}</a>
                <a href="https://www.kde.org/support/">{% trans %}Support{% endtrans %}</a>
                <a href="https://www.kde.org/support/international.php">{% trans %}International Websites{% endtrans %}</a>
                <a href="https://www.kde.org/download/">{% trans %}Download KDE Software{% endtrans %}</a>
            </nav>

            <nav class="col-sm">
                <h3>{% trans %}Destinations{% endtrans %}</h3>
                <a href="https://store.kde.org/">{% trans %}KDE Store{% endtrans %}</a>
                <a href="https://ev.kde.org/">KDE e.V.</a>
                <a href="https://www.kde.org/community/whatiskde/kdefreeqtfoundation.php">{% trans %}KDE Free Qt Foundation{% endtrans %}</a>
                <a href="https://timeline.kde.org/">{% trans %}KDE Timeline{% endtrans %}</a>
            </nav>
        </div>
    </section>

    <section id="KGlobalContributorLinks">
        <nav>
            <a href="https://community.kde.org/Get_Involved"
               target="_blank">{% trans %}Get Involved in KDE{% endtrans %}</a>
            <aside class="kSocialLinks" style="position: absolute; right: 0px; top: 0px">
                <a class="no-glyph" href="https://mastodon.technology/@kde" rel="nofollow" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 216.4144 232.00976">
                        <path fill="#2b90d9"
                              d="M211.80734 139.0875c-3.18125 16.36625-28.4925 34.2775-57.5625 37.74875-15.15875 1.80875-30.08375 3.47125-45.99875 2.74125-26.0275-1.1925-46.565-6.2125-46.565-6.2125 0 2.53375.15625 4.94625.46875 7.2025 3.38375 25.68625 25.47 27.225 46.39125 27.9425 21.11625.7225 39.91875-5.20625 39.91875-5.20625l.8675 19.09s-14.77 7.93125-41.08125 9.39c-14.50875.7975-32.52375-.365-53.50625-5.91875C9.23234 213.82 1.40609 165.31125.20859 116.09125c-.365-14.61375-.14-28.39375-.14-39.91875 0-50.33 32.97625-65.0825 32.97625-65.0825C49.67234 3.45375 78.20359.2425 107.86484 0h.72875c29.66125.2425 58.21125 3.45375 74.8375 11.09 0 0 32.975 14.7525 32.975 65.0825 0 0 .41375 37.13375-4.59875 62.915"/>
                        <path fill="#fff"
                              d="M177.50984 80.077v60.94125h-24.14375v-59.15c0-12.46875-5.24625-18.7975-15.74-18.7975-11.6025 0-17.4175 7.5075-17.4175 22.3525v32.37625H96.20734V85.42325c0-14.845-5.81625-22.3525-17.41875-22.3525-10.49375 0-15.74 6.32875-15.74 18.7975v59.15H38.90484V80.077c0-12.455 3.17125-22.3525 9.54125-29.675 6.56875-7.3225 15.17125-11.07625 25.85-11.07625 12.355 0 21.71125 4.74875 27.8975 14.2475l6.01375 10.08125 6.015-10.08125c6.185-9.49875 15.54125-14.2475 27.8975-14.2475 10.6775 0 19.28 3.75375 25.85 11.07625 6.36875 7.3225 9.54 17.22 9.54 29.675"/>
                    </svg>
                </a>
                <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow"
                   target="_blank">{% trans %}KDE on Facebook{% endtrans %}</a>
                <a class="shareGoogle" href="https://twitter.com/kdecommunity" rel="nofollow"
                   target="_blank">{% trans %}KDE on Google+{% endtrans %}</a>
                <a class="shareTwitter" href="https://plus.google.com/105126786256705328374/posts" rel="nofollow"
                   target="_blank">{% trans %}KDE on Twitter{% endtrans %}</a>
            </aside>
        </nav>
    </section>

    <section id="KGlobalLegalInfo" class="container">
        <small>
            KDE
            <sup>&copy;</sup> {% trans %}and the{% endtrans %} K Desktop Environment
            <sup>&copy;</sup> {% trans %}logo ({% endtrans %}
            <figure style="font-family: glyph">K</figure>
            {% trans %}) are registered trademarks of{% endtrans %}
            <a href="https://ev.kde.org" title="{% trans %}Homepage of the KDE non-profit Organization{% endtrans %}">KDE
                e.V.</a>
        </small>
        <small>
            <a href="https://www.kde.org/community/whatiskde/impressum.php">{% trans %}Legal{% endtrans %}</a>
        </small>
    </section>
</footer>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
