{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
    <h1>{% trans %}Welcome{% endtrans %}</h1>
    <img src="{{ asset('build/konqi-docbook.png') }}" class="pull-right konqi" />
    <p>{% trans %}Welcome to the KDE documentation site. This page holds the complete KDE User Documentation in over 25 languages. Thanks to the enormous efforts by our documentation and translation teams you can access thousands of pages of documentation.{% endtrans %}</p>
    <p>{% trans %}Before you start searching the library or asking questions on the mailing lists, there is a good chance your answer is already in the <a href="https://userbase.kde.org/">KDE UserBase</a> or the <a href="https://forum.kde.org/">KDE Community Forums</a>.{% endtrans %}</p>
    <p>{% trans %}If you are looking for developer documentation, the <a href="https://techbase.kde.org/">KDE Techbase</a> is the place where you get what you are looking for.{% endtrans %}</p>
    <div class="card">
        <h2 class="card-header">
            {% trans %}Categories{% endtrans %}
        </h2>
        <div class="row m-0">
            {% for category in modules_programs|keys %}
                <a class="list-group-item col-md-6" href="{{ path("module", {"module": category}) }}">
                    {{ category|trans({}, "modules") }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
