<div class="row">
    {% for language in languages %}
    {% if loop.index0 % 3 == 0 and loop.index0 != 0 %}
    </div>
    <div class="row">
        {% endif %}
        {# TODO there is probably a better way #}
        <a class="dropdown-item col-md-4"
           href="{{ path("index", {"_locale": language}) }}">{{ full_language_name[language] is defined ? full_language_name[language] : language }}</a>
    {% endfor %}
    </div>
</div>
