{% extends 'base.html.twig' %}

{% trans_default_domain 'app' %}

{% block body %}
    <div class="card mt-3 mb-4">
        <div class="card-header">
            Module: {{ module|trans({}, 'modules') }}
        </div>
        <div class="row m-0">
            {% for category,submodules in categories %}
                <div class="col-md-6 list-group-item">
                    {{ category|trans({}, 'modules') }}
                    {% if submodules.branch is defined %}
                        {% for branch in submodules.branch %}
                            <div>
                                <a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/index.html">{{ branch_descriptions[branch] }}</a>
                                (<a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ category }}.pdf">pdf</a>)
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for submodule,branchs in submodules %}
                            {{ submodule|trans({}, 'modules') }}
                            {% for branch in branchs.branch %}
                                <div>
                                    <a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ submodule }}/index.html">{{ branch_descriptions[branch] }}</a>
                                    (<a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ category }}/{{ submodule }}/{{ submodule }}.pdf">pdf</a>)

                                </div>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% for namespace, list in subsubmodules %}
        <div class="card mb-4">
            <div class="card-header">
                {{ namespace|trans({}, 'modules') }}
            </div>
            <div class="row m-0">
                {% for name, branchs in list %}
                    <div class="list-group-item col-md-6">
                        {{ name|trans({}, 'modules') }}
                        {% for branch in branchs.branch %}
                            <div>
                                <a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ namespace }}/{{ name }}/index.html">
                                    {{ branch_descriptions[branch] }}
                                </a>
                                (<a href="/{{ branch }}/{{ lang }}/{{ module }}/{{ namespace }}/{{ name }}/{{ name }}.pdf">pdf</a>)
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
